@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
  font-family: "Raleway", sans-serif;
}



.glass{
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.46);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
}
.landing_page_sub_btn{
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 0;
}
.landing_page_sub_btn a{
  text-decoration: none;
  color: white;
  background: #DF6951;

  border: 1px solid transparent;
  padding: 8px 18px;
}
.landing_page_sub_btn a:hover{
  text-decoration: none;
  color: white;
  background: transparent;

  transition: 0.5s;
  border: 1px solid #DF6951;
}
@media only screen and (max-width: 992px){
  .nav_ch{
    background-color: white;
  }
}
.Home_ser_card{
  
  transition: transform .2s;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}
.Home_ser_card:hover{

  background-color: white;
  transition: 0.5s;
  
}
.card_img{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.services{
  width: 100%;
  overflow-x: scroll;
  display: flex;
  text-align: center;
}
.services::-webkit-scrollbar{
  display: none;
}
.services .service{
  display: flex;
  flex-wrap: nowrap;
}
.dec_01{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.dec_02{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.dec_03{
  position: absolute;
  margin-top: -140px;
  top: 0;
  right: 0;
  z-index: -1;
  width: 200px;
}
.dec_04{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 200px;
}
.media_links a{
  font-size: 30px;
  padding: 15px;
  color: black;

}
.media_links a:hover{
  font-size: 30px;
  padding: 15px;
  color: #DF6951;

}
.company a{
  text-decoration: none;
  color: black;
}
.company a:hover{
  text-decoration: none;
  color: #DF6951;
}
.Destinations a{
  text-decoration: none;
  color: black;
}
.Destinations a:hover{
  text-decoration: none;
  color: #DF6951;
}
.bgcolornav{
  background-color: black;
  transition: 0.8s;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;

}
.card_sli{

  background-color: #FFF;
  border: 0px solid transparent;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  border: 0px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding-bottom: 25px;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #DF6951;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #DF6951;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #DF6951;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #DF6951;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: black;
}

.swiper-navBtn{
  color: black;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #DF6951;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #DF6951;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #DF6951;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 250px;
  height: 300px;
  object-fit: cover;
  display: block;

}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}













.slider-wrapper1 {
  position: relative;
}
.slider-wrapper1 .slide-button1 {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper1 .slide-button1:hover {
  background: #404040;
}
.slider-wrapper1 .slide-button1#prev-slide1 {
  left: -25px;
  display: none;
}
.slider-wrapper1 .slide-button1#next-slide1 {
  right: -25px;
}
.slider-wrapper1 .image-list1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper1 .image-list1::-webkit-scrollbar {
  display: none;
}
.slider-wrapper1 .image-list1 .image-item {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.container .slider-scrollbar1 {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar1 .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar1:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar1 .scrollbar-thumb1 {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar1 .scrollbar-thumb1:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar1 .scrollbar-thumb1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper1 .slide-button1 {
    display: none !important;
  }
  .slider-wrapper1 .image-list1 {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper1 .image-list1 .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar1 .scrollbar-thumb1 {
    width: 20%;
  }
}









.slider-wrapper2 {
  position: relative;
}
.slider-wrapper2 .slide-button2 {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper2 .slide-button2:hover {
  background: #404040;
}
.slider-wrapper2 .slide-button2#prev-slide2 {
  left: -25px;
  display: none;
}
.slider-wrapper2 .slide-button2#next-slide2 {
  right: -25px;
}
.slider-wrapper2 .image-list2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper2 .image-list2::-webkit-scrollbar {
  display: none;
}
.slider-wrapper2 .image-list2 .image-item {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.container .slider-scrollbar2 {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar2 .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar2:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar2 .scrollbar-thumb2 {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar2 .scrollbar-thumb2:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar2 .scrollbar-thumb2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper2 .slide-button2 {
    display: none !important;
  }
  .slider-wrapper2 .image-list2 {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper2 .image-list2 .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar2 .scrollbar-thumb2 {
    width: 20%;
  }
}



.card-custom {
  overflow: hidden;
  min-height: 400px;
  width: 18rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}








#gallery {
  color: white;
}

#gallery-box {
  display: block;
  position: relative;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  width: 100%;
}

#gallery-box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#gallery-box::-webkit-scrollbar-track {
  background: #e5e5e5;
}

#gallery-box::-webkit-scrollbar-thumb {
  background: #5d5dff;
}

#gallery-box::-webkit-scrollbar-thumb:hover {
  background: #7d7dff;
}

#gallery-count {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 50px;
  text-decoration: none;
}

#gallery-img {
  display: flex;
  min-height: 400px;
  min-width: 600px;
  height: auto;
  background: #e5e5e5;
  text-align: center;
  background-image: url("https://loremflickr.com/800/600/dog?lock=10");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.gallery-thumbnails {
  display: flex;
  height: auto;
  overflow: hidden;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-top: 2px solid white;
}

.gallery-thumbnails img {
  float: left;
  width: 10%;
  cursor: pointer;
  padding: 0;
  filter: grayscale(1);
  min-height: 25px;
}

.gallery-thumbnails img:hover {
  filter: none !important;
}
























.carousel-control-prev .carousel-control-prev-icon, 
.carousel-control-next .carousel-control-next-icon {
    color: #DF6951; /* Change color as per your requirement */
    font-size: 24px; /* Change font size as per your requirement */
}

/* If you need to hide the default carousel arrows, you can use the following CSS */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}
